body {
	background-color: navy
}

#mypic {
	height: 50%;
	width: 50%;
	text-align: center;
}

h1 {
	color: white;
	border-radius: 10px;
	font: garamond;
}

p {
	color: white;
	font: garamond;
}

link {
	display:inline-block;
}