body {
	background-color: navy;
	text-align: center;
	font: garamond;
}

h1 {
	color: white;
	border-radius: 10px;
	font: garamond;
}

p {
	color: white;
	font: garamond;
}

ul {
	color: white;
	text-align: left;
}